mqtt_ip         = "1.2.3.5"                           # MQTT broker IP or hostname
mqtt_topic      = "testing/airPurifierBridge"         # MQTT topic to use

miot_ip         ="1.2.3.4"                            # Xiaomi arpurfier 3H IP or hostname
miot_token      ="1234567890ABCDEFGHIJKLMNopqrstuv"   # Device security token

update_interval = (10 * 60)                           # Update between regular updates of the state (10 minutes)

loglevel        = 1                                   # 0=Exceptions 1=Application 2=Actions 3=Debug
